body.path-frontpage {
  .main-container {
    .col-sm-9 {
      padding-top: 0;

      .block-views-blockslider-principal-block-1 {
        padding-top: 0;
      }
    }
  }

  .search-block-form {
    margin-top: 0;
  }
}
